/* Dashboard Design */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* =========== Reset browser default space ===========*/

html, body { 
    margin: 0;
    padding: 0; 
    font-family: 'Lato', sans-serif;
    background-color: #EEF0F2;
    min-height: 100vh;
}

/* ==================== Header =======================*/

.cefi-header {
    width: 100vw;
    color: #fff;
    display: flex;
    background-color: #135626;
}
.logo {
    width: 65px;
    height: 55px;
    padding: 13px 10px;
}
.osa {
    font-size: 18px;
    padding-top: 10px;
    margin-left: -3px;
}
.system {
    font-size: 14px;
    margin-left: 0;
    margin-top: -13px;
}

/* =================== Sidebar ======================*/

.sidebar{
    position: fixed;
    top: 81px;
    left: 0;
    height: 100%;
    width: 65px;
    background: #d0e6e7;
    padding: 25px 0px; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    transition: width 0.5s ease;    
}
.sidebar:hover {
    width: 250px;
    
}
.sidebar-links{
    margin-top: -10px;
    margin-left: -30px;
    white-space: nowrap;
    list-style: none;
    border-radius: 22px;
}
.sidebar-links li a{
    display: flex;
    align-items: center; 
    gap: 20px;
    font-size: 16px;
    padding: 16px 10px;
    margin-right: 10px;
    white-space: nowrap;
    text-decoration: none; 
    color: #3e4144;
    border-radius: 22px;
    transition: background-color 0.3s ease;
}
.sidebar-links li a:hover{
    background-color: #91dabc;
}
.sub-menu {
    display: none;
    flex-direction: column;
    margin-left: 45px;
}
.sub-item {
    padding: 10px 0;
}
.menu-item.active .sub-menu {
    display: flex;
}
.menu-item .arrow {
    margin-left: auto; 
    transition: transform 0.3s ease;
    display: flex;
    align-items: center; 
    justify-content: right; 
    width: 20px;  
}
.menu-item.active .arrow {
    transform: rotate(90deg);
}
