/* Forgot Design */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    z-index: 1;
    background-color: #EEF0F2;
}

/* ==================== Header =======================*/
.cefi-header {
    position: fixed;
    top: 0;
    flex-wrap: nowrap;
    height: 81px;
    width: 100vw;
    color: #ffffff;
    display: flex;
    background-color: #135626;
    z-index: 2;
}
.logo {
    width: 80px;
    height: 80px;
    padding: 13px 10px;
}
.osa {
    font-size: 18px;
    padding-top: 20px;
    margin-left: -3px;
}
.system {
    font-size: 14px;
    margin-left: 0;
    margin-top: -13px;
}

/* Login */
.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 350px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.wrapper h3 {
    font-size: 20px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 30px;
}

.ball {
    position: fixed;
    border-radius: 100%;
    opacity: 0.7;
}